<div id="trips" infinite-scroll="loadMore()" infinite-scroll-distance="1">
	<div>
		<div id="search-box">

			<form name="searchForm" novalidate>

				<input type="text" ng-model="mySearch" name="search" placeholder="Find a Trip..." required> 
				<button type="submit" id="searchBtn" ng-click="goSearch(mySearch, searchForm.$valid)">Go</button>
				<p id="search-error" ng-if="searchForm.search.$invalid && !createTripForm.title.$pristine && submitted" class="field-error">Please enter a search.</p>

			</form>
			
		</div>

		<div vector-map id="map"></div>

		<div class="trip" class="clearfix" ng-repeat="trip in trips" ui-sref="trip({trip_id: trip._id})">

			<div id="bg"></div>

			<img ng-src="/static/assets/img/{{ trip.thumbnail }}" alt="{{ trip.description }}">
				
			<h1>{{ trip.title }}</h1>
			<h3>{{ trip.country }}</h3>

		</div>	

		<div class="form-group">
			<md-button class="md-raised" ng-if="load" ng-click="loadMore()">Load More</md-button>
			<p ng-if="!load">No More Trips to Load</p>
		</div>

	</div>
</div>