<div class="editProfile">
	<h2>{{ me.name }} - Edit Profile</h2>
	<div class="editProfileImg">
		<div class="editImgCont" ng-if="imgBool==true" flow-init="{query: { source: 'profile' } }" flow-files-submitted="onUpload($flow)">
			<div class="imgCont">
				<img class="preImage" flow-img="$flow.files[0]" >
			</div>
			<input type="file" flow-btn />
			<md-button class="btn md-raised" ng-click="changeImg()">
				<span>{{imgConfirm}}</span>
			</md-button>
		</div>

		<div class="editImgCont" ng-if="imgBool==false">
			<div class="imgCont">
				<img ng-src="{{ img }}" alt="profile pic" >
			</div>
			<md-button class="btn md-raised" ng-click="changeImg()">
				<span>Change Picture</span>
			</md-button>
		</div>
	</div>

	<form ng-submit="saveUser()">
		<md-input-container>
			<label>Name</label>
			<input type="text" ng-model="userData.name" required>
		</md-input-container>
		<div ng-if="!pwBool">
			<md-button type="button" class="btn" ng-click="changePw()">
				Change Password
			</md-button>
		</div>
		<div class="changePw" ng-if="pwBool">
			<md-input-container>
				<label>New Password</label>
				<input type="password" ng-model="newPw.pw">
			</md-input-container>
			<md-input-container>
				<label>Retype Password</label>
				<input type="password" ng-model="newPw.pw2">
			</md-input-container>
			<div>
				<md-button type="button" class="btn" ng-click="changePw()">
					Cancel
				</md-button>
			</div>
		</div>
		<h3 ng-if="success">{{message}}</h3>
		<md-button type="submit" aria-label="Register" class="btn md-raised">
	      <span ng-if="!processing">Update</span>

	      <span ng-if="processing" class="spinner"><md-progress-circular md-mode="indeterminate"></md-progress-circular></span>

	    </md-button>
	</form>
	
</div>